doctype html
html(lang='en-US')
  head
    link(rel='shortcut icon', href='/static/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/css/form.css')
    if orderId
      title Order Updated | Dado Tea Lunch Special
    else
      title Order Confirmation | Dado Tea Lunch Special
  body
    header
      article
        h1
          | Dado Tea Lunch Special
        if orderId
          h3
            | Order Updated
        else
          h3
            | Order Confirmation
        // Menu header
        p
          | Monday through Friday
          br
          | 				11am - 3pm
    // Order Information section
    if orderId
      a(href="/orders")
        button.placeOrder Back to All Orders
    else
      a(href="/")
        button.placeOrder Back to Home
    br
    br
    fieldset
      legend Order Information
      if orderId
        p Order ID: #{orderId}
      p Order Name: #{orderName}
      if orderDescription
        p Order Description: #{orderDescription}
      p Order Type: #{orderType}
      if sandwichName
        p Sandwich: #{sandwichName}
      if breadType
        p Sandwich Bread: #{breadType}
      if snackName
        p Snacks: #{snackName}
      if drinkName
        p Drink: #{drinkName}
      if drinkSize
        p Drink Size: #{drinkSize}